/* 颜色 */
.theme-light {
  --parabylink-kanban-background: rgb(250,250,250);
  --parabylink-kanban-1: #FEF08A;
  --parabylink-kanban-2: #A7F3D0;
  --parabylink-kanban-3: #BAE6FD;
  --parabylink-kanban-4: #DDD6FE;
  --parabylink-kanban-card: rgba(255,255,255,0.65);
}

.theme-dark {
  --parabylink-kanban-background: rgb(250,250,250,0.01);
  --parabylink-kanban-1: #713F12;
  --parabylink-kanban-2: #064E3B;
  --parabylink-kanban-3: #0C4A6E;
  --parabylink-kanban-4: #4C1D95;
  --parabylink-kanban-card: rgba(255,255,255,0.015);
}


/* === 无序列表 === */

/* 基本样式 */
.parabylink-nav ul {
  display: flex;
  flex-direction: row;

  margin: 2px;
  padding: 0;
}

/* 去除圆点 */
.parabylink-nav ul > li {
  list-style: none;
}

/* 去除侧边线 */
.parabylink-nav ul::before {
  display: none !important;  /* !important 防止阅读模式下的样式覆盖 */
}


/* === 看板 === */

/* 列表 */
.parabylink-nav ul:first-child > li {
  display: flex;
  flex-direction: column;

  flex: 1 1 25%;

  word-break: break-word;

  margin: 0 0.1rem 0 0.1rem;
  padding: 0;

  border-radius: 5px;
}
.parabylink-nav ul:first-child > li > p {
  display: flex;
  justify-content: center;

  margin: 0.25rem;
}

/* 列表卡片 */
.parabylink-nav ul ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parabylink-nav ul ul > li {
  margin: 0.5rem;
  margin-top: 0;
  padding: 0.1rem 0 0.1rem 0.25rem;

  border-radius: 7px;
}

/* 列表颜色 */
.parabylink-nav ul:first-child > li:nth-child(n) {
  background-color: var(--parabylink-kanban-background);
  border: 0;
  border-top: 0.25em;
  border-style: solid;
}

.parabylink-nav ul:first-child > li:nth-child(1) {
  border-color: var(--parabylink-kanban-1);
}
.parabylink-nav ul:first-child > li:nth-child(2) {
  border-color: var(--parabylink-kanban-2);
}
.parabylink-nav ul:first-child > li:nth-child(3) {
  border-color: var(--parabylink-kanban-3);
}
.parabylink-nav ul:first-child > li:nth-child(4) {
  border-color: var(--parabylink-kanban-4);
}

/* 列表卡片背景 */
.parabylink-nav ul ul > li {
  background-color: var(--parabylink-kanban-card)
}
