/* 隐藏浮动窗口、引用页面下导航栏 */
.popover, .markdown-embed span[src="流动式PARA导航栏"] {
    display: none !important;
}

/* 样式优化 */
div[src="流动式PARA导航栏"], span[src="流动式PARA导航栏"] {
    border: 0px;
    padding: 0px;
} .markdown-embed-link {
    display: none;
}
